body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Search {
  text-align:center;
}

.searchResults{
  text-align: center;
  padding-left: 15px;
}

.locationButton{
  width: 270px;
  background-color:#71b66d;
}
.NYTButton{
  width: 270px;
  height: 300px;
  text-align: center;
  vertical-align: top;
  background-color:#71b66d;
}

.NYT{
  text-align:center;
  vertical-align:top;
}

.spacefill{ 
  height:20px;
  width:100%;
  clear:both;
}

.smallspacefill{ 
  height:2px;
  width:100%;
  clear:both;
}

/* .WeatherResult{ */
  /* text-align: center; */
/* } */

.TomorrowHourlyWeather{
  /* display: flex; */
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}